HOST_URL=127.0.0.1
HOST_PORT=9000
DB_HOST=localhost
DB_NAME={{.PackageName}}
DB_USER=root
DB_PASS=
DB_PORT=3306
TIMEOUT_DURATION=30
PRIVATE_JWT_ACCESS_TOKEN_SECRET=your-secret-key
PRIVATE_JWT_REFRESH_TOKEN_SECRET=your-refresh-secret-key
